@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.cart_container {
  @include displayCenter(space-between, center);
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 25px;
  border-bottom: 2px solid blueviolet;
  transition: border 0.3s ease-in-out;
  &:hover{
    border-bottom: 2px solid blue;
  }
  .homework_text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }
}
