@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.cart_container {
  @include displayCenter(space-between, center);
  gap: 20px;
  text-align: start;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 25px;
  border-bottom: 2px solid blueviolet;
  transition: border 0.3s ease-in-out;
  &:hover{
    border-bottom: 2px solid blue;
  }
  .homework_text {
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 2vw, 20px);
  }
}

@media screen and (max-width: 850px){
  .cart_container{
    flex-direction: column;
    text-align: center;
  }
}